html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.width-input {
    width: 600px;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.flex-top-left {
    padding-top: 30px;
    padding-left: 40px;
    align-items: left !important;
    /* display: flex; */
    justify-content: top; 
}
.padding-left-60 {
    padding-left:60px;
    
}
.padding-left-10 {
    padding-left:10px;
    
}
.padding-top-10 {
    padding-top:10px;
    
}
.padding-left-2 {
    padding-left:2px;
    
}
.padding-top-5 {
    padding-top:5px;
}

.padding-top-20 {
    padding-top:20px;
}

.content {
    text-align: center;
}

.title {
    font-size: 36px;
}



.m-b-md {
    margin-bottom: 30px;
}

* {
    border-radius: 0 !important;
  }

pre {
    outline: 1px solid #ccc; 
    padding: 5px; 
    margin: 5px; 
    word-wrap: break-word; 
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.logo-search > img {
    padding-left: 3px;
    height: 21px;
}

.submit-button {
    vertical-align: top !important;
    height: 26px !important;
    padding: 0px !important;
}

.margin-m-15 {
    margin-bottom: -15px;
}

.col-md-6.text-right {
    padding-right: 18px;
}